<div class="card-panel p-t-0 p-b-30 p-l-30 p-r-30">
  <div class="row m-b-0">
    <div class="valign-wrapper">

      <%= form_for cliente, remote: true, html: { class: "cliente-form col s12" } do |f| %>
        <div class="modal-content">
          <div class="p-20">
            <div class="row card-content m-b-0 p-b-0 p-l-30 p-r-30">
              <div class="row">

                <div class="input-field col s12 m4">
                  <%= f.text_field :nome %>
                  <%= f.label :nome %>
                </div>

                <div class="input-field col s12 m4">
                  <%= f.text_field :apelido %>
                  <%= f.label :apelido %>
                </div>

                <div class="input-field col s12 m4">
                  <%= f.text_field :ficticio %>
                  <%= f.label :ficticio, "Fictício" %>
                </div>

                <div class="input-field col s12 m2">
                  <%= f.text_field :cpf_cnpj %>
                  <%= f.label :cpf_cnpj, "CPF" %>
                </div>

                <div class="input-field col s12 m2">
                  <%= f.text_field :rg %>
                  <%= f.label :rg, "RG" %>
                </div>

                <div class="input-field col s12 m2">
                  <%= f.text_field :rg_emissor %>
                  <%= f.label :rg_emissor, "Org. Emissão RG" %>
                </div>

                <div class="input-field col s12 m2">
                  <%= f.text_field :rg_data_emissao %>
                  <%= f.label :rg_data_emissao, "Dt. Emissão RG" %>
                </div>

                <div class="input-field col s12 m2">
                  <%= f.text_field :data_nascimento %>
                  <%= f.label :data_nascimento, "Dt. Nascimento" %>
                </div>

                <div class="input-field col s12 m2">
                  <%= f.select :sexo, Cliente.sexos.map { |k, v| [k.humanize, k]} %>
                  <%= f.label :sexo, class: "active" %>
                </div>

                <div class="input-field col s12 m2">
                  <%= f.text_field :inscricao_estadual %>
                  <%= f.label :inscricao_estadual, "Inscr. Estadual" %>
                </div>

                <div class="input-field col s12 m2 offset-m6">
                  <%= f.text_field :created_at, disabled: true, value: cliente.created_at.to_s(:data_formatada) %>
                  <%= f.label :created_at, "Criado em" %>
                </div>

                <div class="input-field col s12 m2">
                  <%= f.text_field :updated_at, disabled: true, value: cliente.updated_at.to_s(:data_formatada) %>
                  <%= f.label :updated_at, "Alterado em" %>
                </div>

                <div class="input-field col s12">
                  <ul class="collapsible z-depth-0" data-collapsible="expandable">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">picture_in_picture</i>Tipo de Cadastro & Opções de Marketing</div>
                      <div class="collapsible-body">

                        <div class="input-field col s12 m6 m-t-40">
                          <%= f.select :pessoa_tipo, Cliente.pessoa_tipos.map { |k, v| [k.humanize, k]} %>
                          <%= f.label :pessoa_tipo, "Pessoa", class: "active" %>
                        </div>

                        <div class="input-field col s12 m6 m-t-40">
                          <%= f.select :cadastro_tipo, Cliente.cadastro_tipos.map { |k, v| [k.humanize, k]} %>
                          <%= f.label :cadastro_tipo, "Tipo de Cadastro", class: "active" %>
                        </div>

                        <div class="input-field col s12 m6 m-t-25">
                          <% Cliente.marketing_tipos_array.each do |marketing_tipo| %>
                            <ul>
                              <li>
                                <!-- Verificar se os checkboxes são marcados corretamente em relação às informações do banco de dados, passando TRUE como terceiro argumento -->
                                <%#= check_box_tag "cliente[marketing_tipos][]", marketing_tipo, @cliente.marketing_tipos.include?(marketing_tipo), id: "cliente_marketing_tipos_#{marketing_tipo}", class: 'filled-in' %>
                                <%= check_box_tag "cliente[marketing_tipos][]", marketing_tipo, true, id: "cliente_marketing_tipos_#{marketing_tipo}", class: 'filled-in' %>
                                <%= label_tag "cliente_marketing_tipos_#{marketing_tipo}", marketing_tipo.humanize %>
                              </li>
                            </ul>
                          <% end %>
                          <%= f.label :marketing_tipos, "Tipos de Marketing", class: "active p-t-25" %>
                        </div>
                        <p>&zwnj;</p>
                        <p>&zwnj;</p>
                        <p>&zwnj;</p>
                        <p>&zwnj;</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">picture_in_picture</i>Observações</div>
                      <div class="collapsible-body">
                        <div class="input-field col s12">
                          <%#= f.text_area :obsevacao, rows: 4, onkeydown: "return limitLines(this, event)", class: 'materialize-textarea' %>
                          <%= f.text_area :obsevacao, rows: 8, class: 'materialize-textarea limita-text-area' %>
                        </div>
                        <p>&zwnj;</p>
                        <p>&zwnj;</p>
                        <p>&zwnj;</p>
                      </div>
                    </li>
                  </ul>
                </div>

                <ul class="tabs tabs-divider">
                  <li><div class="divider"></div></li>
                </ul>

                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#cliente-enderecos">Endereços</a></li>
                    <li class="tab col s3"><a href="#cliente-telefones">Telefones</a></li>
                    <li class="tab col s3"><a href="#cliente-emails">E-mails</a></li>
                    <li class="tab col s3"><a href="#cliente-fazendas">Fazendas</a></li>
                    <li class="tab col s3"><a href="#cliente-bancos">Bancos</a></li>
                    <li class="tab col s3"><a href="#cliente-referencias">Referências</a></li>
                    <li class="tab col s3"><a href="#cliente-autorizados">Autorizados</a></li>
                    <li class="tab col s3"><a href="#cliente-racas">Raças</a></li>
                    <li class="tab col s3"><a href="#cliente-empresas">Empresas</a></li>
                  </ul>
                </div>
                <div id="cliente-enderecos" class="col s12 p-t-20"></div>
                <div id="cliente-telefones" class="col s12 p-t-20"><%= render partial: "clientes/telefones/index" %></div>
                <div id="cliente-emails" class="col s12 p-t-20"><%= render partial: "clientes/emails/index" %></div>
                <div id="cliente-fazendas" class="col s12 p-t-20"><%= render partial: "clientes/fazendas/index" %></div>
                <div id="cliente-bancos" class="col s12 p-t-20"><%= render partial: "clientes/bancos/index" %></div>
                <div id="cliente-referencias" class="col s12 p-t-20"><%= render partial: "clientes/referencias/index" %></div>
                <div id="cliente-autorizados" class="col s12 p-t-20"><%= render partial: "clientes/autorizados/index" %></div>
                <div id="cliente-racas" class="col s12 p-t-20"><%= render partial: "clientes/racas/index" %></div>
                <div id="cliente-empresas" class="col s12 p-t-20"><%= render partial: "clientes/empresas/index" %></div>

              </div>
            </div>

            <ul class="tabs tabs-divider">
              <li><div class="divider"></div></li>
            </ul>

            <%= button_tag "Salvar", class:"btn waves-effect waves-light btn-right" %>
            <%= button_tag "Cancelar", class:"btn-flat waves-effect m-r-5 btn-right", type: 'reset' %>
            <% if !cliente.new_record? %>
              <%= link_to "Excluir", cliente_path(cliente), method: 'delete', remote: true, class: 'btn danger-color waves-effect waves-light m-r-5 btn-right',
                    data: { confirm: t('.confirm', :default => t("helpers.links.confirm", default: 'Confirmar a exclusão?')) } %>
            <% end %>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>
