<div class="p-t-0 paginate_left">
  <table id="empresas-table" class="highlight bordered" data-source="<%= cliente_empresas_path(@cliente_empresa, format: :json) %>" data-cliente-empresa="<%= @cliente_empresa %>">
    <thead>
      <tr>
        <th width="">Nome <%= filtro_dt %> </th>
        <th width="">CNPJ <%= filtro_dt %> </th>
        <th width="">Cargo <%= filtro_dt %> </th>
        <th width="">Logradouro <%= filtro_dt %> </th>
        <th width="">Cidade <%= filtro_dt %> </th>
        <th width="">UF <%= filtro_dt %> </th>
        <th width="">CEP <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <div class="row m-b-0 m-t-30">
    <div class="valign-wrapper">
      <div class="col s12 valign right-align">
        <%= link_to_new new_cliente_empresa_path, true, "", "Novo Endereço" if can? :manage, :empresa %>
      </div>
    </div>
  </div>
</div>
