<div class="p-30 m-0 white">

  <div id="leilao_modal" class="modal bottom-sheet modal-grande"></div>

  <table id="leiloes-table" class="highlight bordered" data-source="<%= leiloes_path(format: :json) %>">
    <thead>
      <tr>
        <th width="18%">Nome <%= filtro_dt %> </th>
        <th width="18%">Recinto <%= filtro_dt %> </th>
        <th width="10%">Evento <%= filtro_dt %> </th>
        <th width="18%">Local <%= filtro_dt %> </th>
        <th width="7%">UF <%= filtro_dt %> </th>
        <th width="10%">Data <%= filtro_dt %> </th>
        <th width="9%">Hora <%= filtro_dt %> </th>
        <th width="10%">Categoria <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
