<%= form_for [@cliente, @referencia], remote: true, html: { class: "referencia-form col s12 validate" } do |f| %>
  <div class="modal-content">
    <div class="p-20 modal-border">
      <div class="row card-content m-b-0 p-b-0 p-l-30 p-r-30">

        <div class="row">

          <div class="input-field col s12 m8">
            <%= f.text_field :nome %>
            <%= f.label :nome %>
          </div>

          <div class="input-field col s12 m4">
            <%= f.text_field :telefone %>
            <%= f.label :telefone %>
          </div>

        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.text_area :observacao, rows: 4, class: 'materialize-textarea limita-text-area' %>
            <%= f.label :observacao, "Observação" %>
          </div>

        </div>


      </div>

      <div class="modal-footer">
        <%= button_tag "Salvar", class:"btn waves-effect waves-light" if can? :manage, :referencia %>
        <%= button_tag "Cancelar", class:"btn-flat waves-effect m-r-5", onclick: "$('#referencia_modal').closeModal()", type: 'button' %>
        <%#= button_tag "Cancelar", class:"btn-flat waves-effect waves-light btn-cancelar ", type: :reset %>

          <% if !@referencia.new_record? %>
            <%= link_to "Excluir", cliente_referencia_path(@cliente, @referencia), method: 'delete', remote: true, class: 'btn danger-color waves-effect waves-light m-r-5',
                  data: { confirm: t('.confirm', :default => t("helpers.links.confirm", default: 'Confirmar a exclusão?')) } if can? :manage, :referencia %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
