<div class="card p-t-0 p-b-70 p-l-30 p-r-30">

  <div id="leiloeiro_modal" class="modal bottom-sheet modal-grande"></div>

  <div class="row m-b-0">
    <div class="valign-wrapper">
      <div class="col s6 valign">
        <h3>Leiloeiros</h3>
      </div>
      <div class="col s6 valign right-align">
        <%= link_to_new new_leiloeiro_path if can? :manage, :leiloeiro %>
      </div>
    </div>
  </div>
  <table id="leiloeiros-table" class="highlight bordered" data-source="<%= leiloeiros_path(format: :json) %>">
    <thead>
      <tr>
        <th width="20%">Nome <%= filtro_dt %> </th>
        <th width="20%">Razão Social <%= filtro_dt %> </th>
        <th width="15%">% Elite <%= filtro_dt %> </th>
        <th width="15%">% Corte <%= filtro_dt %> </th>
        <th width="15%">% Virtual <%= filtro_dt %> </th>
        <th width="15%">% Shopping <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
