<div class="p-t-0 paginate_left">
  <table id="enderecos-table" class="highlight bordered" data-source="<%= cliente_enderecos_path(@cliente_endereco, format: :json) %>" data-cliente-endereco="<%= @cliente_endereco %>">
    <thead>
      <tr>
        <th width="7%">Tipo <%= filtro_dt %> </th>
        <th width="15%">Logradouro <%= filtro_dt %> </th>
        <th width="8%">Numero <%= filtro_dt %> </th>
        <th width="11%">Complemento <%= filtro_dt %> </th>
        <th width="9%">Bairro <%= filtro_dt %> </th>
        <th width="9%">CEP <%= filtro_dt %> </th>
        <th width="9%">Cx. Postal <%= filtro_dt %> </th>
        <th width="9%">Cidade <%= filtro_dt %> </th>
        <th width="7%">UF <%= filtro_dt %> </th>
        <th width="7%">Ativo <%= filtro_dt %> </th>
        <th width="9%">Primário <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <div class="row m-b-0 m-t-30">
    <div class="valign-wrapper">
      <div class="col s12 valign right-align">
        <%= link_to_new new_cliente_endereco_path, true, "", "Novo Endereço" if can? :manage, :endereco %>
      </div>
    </div>
  </div>
</div>
