<%= form_for @patrocinador, remote: true, html: { class: "patrocinador-form col s12 validate" } do |f| %>
  <div class="modal-content">
    <div class="p-20 modal-border">
      <div class="row card-content m-b-0 p-b-0 p-l-30 p-r-30">
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :nome, required:"" %>
            <%= f.label :nome %>
          </div>
        </div>

        <div class="row">
          <div class="file-field input-field col s12">
            <div class="btn">
              <span>Logo</span>
              <%= f.file_field :logo %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>

          <fieldset>
            <div class="input-field col s2" style="display: flex;">
              <% if @patrocinador.logo.file? %>
                <%=  %>
                <%= link_to image_tag(@patrocinador.logo.url(:thumb)), @patrocinador.logo.url(:original, false), :target => "_blank" %>
                <%= link_to('<i class="material-icons red-text">clear</i>'.html_safe, {action: :deleta_logo_patrocinador, id: @patrocinador.id},
                            method: :put, remote: true, data: { confirm: 'Tem certeza?' }) %>
              <% end %>
              <%= label_tag "Logo", nil, class: "active" %>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="modal-footer">
        <%= button_tag "Salvar", class:"btn waves-effect waves-light" if can? :manage, :patrocinador %>
        <%= button_tag "Cancelar", class:"btn-flat waves-effect m-r-5", onclick: "$('#patrocinador_modal').closeModal()", type: 'button' %>

        <% if !@patrocinador.new_record? %>
          <%= link_to "Excluir", patrocinador_path(@patrocinador), method: 'delete', remote: true, class: 'btn danger-color waves-effect waves-light m-r-5',
                data: { confirm: t('.confirm', :default => t("helpers.links.confirm", default: 'Confirmar a exclusão?')) } if can? :manage, :patrocinador  %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
