<div class="card p-t-0 p-b-70 p-l-30 p-r-30">

  <div id="user_modal" class="modal bottom-sheet modal-grande"></div>

  <div class="row m-b-0">

    <div class="valign-wrapper">
      <div class="col s6 valign">
        <h1>Usuários</h1>
      </div>
      <div class="col s6 valign right-align">
        <%= link_to_new new_user_registration_path if can? :manage, :user %>
      </div>
    </div>
  </div>

  <table id="users-table" class="highlight bordered" data-source="<%= users_path(format: :json) %>">
    <thead>
      <tr>
        <th width="40%">Usuário <%= filtro_dt %> </th>
        <th width="30%">Email <%= filtro_dt %> </th>
        <th width="15%">Criado em <%= filtro_dt %> </th>
        <th width="15%">Alterado em <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
