<div class="input-field col s12 m4 l3">
  <fieldset>
    <div class="input-field col s12 m4">
      <%= i.text_field :parcela, disabled: true %>
      <%= i.label :parcela %>
    </div>
    <div class="input-field col s12 m4">
      <%= i.text_field :captacoes %>
      <%= i.label :captacoes %>
    </div>
    <div class="input-field col s12 m4">
      <%= i.text_field :vencimento %>
      <%= i.label :vencimento %>
    </div>
  </fieldset>
</div>
