<%= form_for @raca, remote: true, html: { class: "raca-form col s12 validate" } do |f| %>
  <div class="modal-content">
    <div class="p-20 modal-border">
      <div class="row card-content m-b-0 p-b-0 p-l-30 p-r-30">
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :nome, required:"" %>
            <%= f.label :nome %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.select :especie, Raca.especies.map { |k, v| [k.humanize, k]} %>
            <%= f.label :especie, class: "active" %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%= button_tag "Salvar", class:"btn waves-effect waves-light" %>
        <%= button_tag "Cancelar", class:"btn-flat waves-effect m-r-5", onclick: "$('#raca_modal').closeModal()", type: 'button' %>

        <% if !@raca.new_record? %>
          <%= link_to "Excluir", raca_path(@raca), method: 'delete', remote: true, class: 'btn danger-color waves-effect waves-light m-r-5',
                data: { confirm: t('.confirm', :default => t("helpers.links.confirm", default: 'Confirmar a exclusão?')) } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
