<%= form_for @cidade, remote: true, html: { class: "cidade-form col s12 validate" } do |f| %>
  <div class="modal-content">
    <div class="p-20 modal-border">
      <div class="row card-content m-b-0 p-b-0 p-l-30 p-r-30">
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :nome, required:"" %>
            <%= f.label :nome %>
          </div>

          <div class="input-field col s12">
            <%= f.select :estado_id, @estados.collect {|estado| [(estado.nome), estado.id]} %>
            <%= f.label :estado_id, class: "active" %>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <%= button_tag "Salvar", class:"btn waves-effect waves-light" if can? :manage, :cidade %>
        <%= button_tag "Cancelar", class:"btn-flat waves-effect m-r-5", onclick: "$('#cidade_modal').closeModal()", type: 'button' %>
        <%#= button_tag "Cancelar", class:"btn-flat waves-effect waves-light btn-cancelar ", type: :reset %>

        <% if !@cidade.new_record? %>
          <%= link_to "Excluir", cidade_path(@cidade), method: 'delete', remote: true, class: 'btn danger-color waves-effect waves-light m-r-5',
                data: { confirm: t('.confirm', :default => t("helpers.links.confirm", default: 'Confirmar a exclusão?')) } if can? :manage, :cidade %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
