<div class="p-t-0 paginate_left">
  <table id="telefones-table" class="highlight bordered" data-source="<%= cliente_telefones_path(@cliente_telefone, format: :json) %>" data-cliente-telefone="<%= @cliente_telefone %>">
    <thead>
      <tr>
        <th width="15%">Tipo <%= filtro_dt %> </th>
        <th width="10%">DDI <%= filtro_dt %> </th>
        <th width="10%">DDD <%= filtro_dt %> </th>
        <th width="20%">Número <%= filtro_dt %> </th>
        <th width="15%">Dt. Cadastro <%= filtro_dt %> </th>
        <th width="5%">Ramal <%= filtro_dt %> </th>
        <th width="5%">Contato <%= filtro_dt %> </th>
        <th width="5%">Importância <%= filtro_dt %> </th>
        <th width="5%">Telemarketing <%= filtro_dt %> </th>
        <th width="5%">Divulgar <%= filtro_dt %> </th>
        <th width="5%">Ativo <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <div class="row m-b-0 m-t-30">
    <div class="valign-wrapper">
      <div class="col s12 valign right-align">
        <%= link_to_new new_cliente_telefone_path, true, "", "Novo Telefone" if can? :manage, :telefone %>
      </div>
    </div>
  </div>
</div>
