<div class="p-t-0 paginate_left">
  <table id="cliente_bancos-table" class="highlight bordered" data-source="<%= cliente_cliente_bancos_path(@cliente_cliente_banco, format: :json) %>" data-cliente-cliente_banco="<%= @cliente_cliente_banco %>">
    <thead>
      <tr>
        <th width="10%">Código <%= filtro_dt %> </th>
        <th width="10%">Descrição <%= filtro_dt %> </th>
        <th width="10%">Agência <%= filtro_dt %> </th>
        <th width="10%">CC <%= filtro_dt %> </th>
        <th width="10%">Cidade <%= filtro_dt %> </th>
        <th width="5%">UF <%= filtro_dt %> </th>
        <th width="10%">Correntista <%= filtro_dt %> </th>
        <th width="10%">CPF/CNPJ <%= filtro_dt %> </th>
        <th width="10%">Observação <%= filtro_dt %> </th>
        <th width="15%">Dt. Cadastro <%= filtro_dt %> </th>
        <th width="5%">Primário <%= filtro_dt %> </th>
        <th width="5%">Ativo <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <div class="row m-b-0 m-t-30">
    <div class="valign-wrapper">
      <div class="col s12 valign right-align">
        <%= link_to_new new_cliente_cliente_banco_path, true, "", "Novo Banco" if can? :manage, :cliente_banco %>
      </div>
    </div>
  </div>
</div>
