<div class="card p-t-0 p-b-70 p-l-30 p-r-30">

  <div id="estado_modal" class="modal bottom-sheet modal-grande"></div>

  <div class="row m-b-0">
    <div class="valign-wrapper">
      <div class="col s6 valign">
        <h1>Estados</h1>
      </div>
      <div class="col s6 valign right-align">
        <%= link_to_new new_estado_path if can? :manage, :estado %>
      </div>
    </div>
  </div>
  <table id="estados-table" class="highlight bordered" data-source="<%= estados_path(format: :json) %>">
    <thead>
      <tr>
        <th width="35%">Nome <%= filtro_dt %> </th>
        <th width="15%">Sigla <%= filtro_dt %> </th>
        <th width="10%">Criado em <%= filtro_dt %> </th>
        <th width="10%">Criado por <%= filtro_dt %> </th>
        <th width="15%">Alterado em <%= filtro_dt %> </th>
        <th width="15%">Alterado por <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
