<ul id="slide-out" class="side-nav">

  <li>
    <div class="userView">
      <div class="background">
        <%= image_tag "forest.jpg" %>
      </div>
      <a class='dropdown-button' data-activates='user-dropdown'><%= image_tag "bull-icon.png", class: "circle" %></a>
      <ul id='user-dropdown' class='dropdown-content'>
        <li><%= link_to('Sair', destroy_user_session_path, :method => :delete) %></li>
      </ul>
      <span class="white-text name"><%= current_user.username %></span>
      <span class="white-text email"><%= current_user.email %></span>
    </div>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect">Leilões<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li> <%= link_to_icon leiloes_path, 'Selecionar', 'playlist_add_check', true %> </li>
            <% if leilao_selecionado %>
              <li id="menu_editar_leilao"> <%= link_to_icon edit_leilao_path(leilao_selecionado), 'Editar', 'mode_edit' %> </li>
            <% end %>
            <li> <%= link_to_icon leiloes_path, 'Cadastrar', 'fiber_new', true %> </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>


  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect">Cadastros<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li> <%= link_to_icon clientes_path, 'Clientes', 'people' %> </li>
            <li> <%= link_to_icon subtipos_path, 'Subtipos', 'spa' %> </li>
            <li> <%= link_to_icon leilao_eventos_path, 'Eventos', 'business_center' %> </li>
            <li> <%= link_to_icon bandeiras_path, 'Bandeiras', 'flag' %> </li>
            <li> <%= link_to_icon canais_path, 'Canais', 'tv' %> </li>
            <li> <%= link_to_icon racas_path, 'Raças', 'thumbs_up_down' %> </li>
            <li> <%= link_to_icon patrocinadores_path, 'Patrocinadores', 'person_pin_circle' %> </li>
            <li> <%= link_to_icon assessorias_path, 'Assessorias', 'nature_people' %> </li>
            <li> <%= link_to_icon leiloeiros_path, 'Leiloeiros', 'perm_camera_mic' %> </li>
            <li> <%= link_to_icon pagamento_condicoes_path, 'Condições de Pagamento', 'attach_money' %> </li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li class="bold">
                  <a class="collapsible-header waves-effect">Planejamento<i class="material-icons">arrow_drop_down</i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li> <%= link_to_icon funcoes_path, 'Funções', 'work' %> </li>
                      <li> <%= link_to_icon uniformes_path, 'Uniformes', 'directions_bike' %> </li>
                      <li> <%= link_to_icon veiculos_path, 'Veículos', 'directions_car' %> </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>

  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>

  <% if current_user.has_role? :admin  %>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect">Cadastros<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li> <%= link_to_icon cidades_path, 'Cidades', 'place' %> </li>
              <li> <%= link_to_icon estados_path, 'Estados', 'satellite' %> </li>
              <li> <%= link_to_icon bancos_path, 'Bancos', 'account_balance' %> </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  <% end %>

  <% if current_user.has_role? :admin  %>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect">Administração<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li> <%= link_to_icon users_path, 'Usuários', 'account_circle' %> </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  <% end %>

</ul>
