<!DOCTYPE html>
<html>
  <head>
    <title>Sistema Central</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body oncontextmenu="return false;">
    <header>
      <%= render partial: "layouts/header" %>
    </header>
    <main>
      <%= render partial: "layouts/modals" %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer p-t-0">
      <%= render partial: "layouts/footer" %>
    </footer>
  </body>
</html>
