<%= form_for(@user, as: resource_name, remote: true, html: { class: "user-form col s12 validate" }) do |f| %>
  <div class="modal-content">
    <div class="p-20 modal-border">
      <div class="row card-content m-b-0 p-b-0 p-l-30 p-r-30">
        <div class="row">
          <div class="input-field col s12 m3">
            <%= f.text_field :username, required:"" %>
            <%= f.label :usuário %>
          </div>
          <div class="input-field col s12 m3">
            <%= f.email_field :email %>
            <%= f.label :email %>
          </div>
          <div class="user_border">
            <div class="input-field col s12 m6">
              <%= f.password_field :password, autocomplete: "off" %>
              <%= f.label :password, "Senha" %>
              <% if @minimum_password_length %>
                <em class="aviso"><%= @minimum_password_length %> caracteres no mínimo</em>
              <% end %>
            </div>
            <div class="input-field col s12 m6">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
              <%= f.label :confirmar_senha %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <%= f.text_field :nome, required:"" %>
            <%= f.label :nome %>
          </div>
        </div>

        <fieldset class="p-b-30">
          <legend>Permisões</legend>
          <div class="row">
            <% @roles.each do | role | %>
              <div class="input-field col s3 m2">
                <%= hidden_field_tag role, 0, id: '' %>
                <div class="switch">
                  <label>
                    <i class="red-text material-icons center-icon">remove_circle</i>
                    <%= check_box_tag role, 1, @user.has_role?(role.downcase), class: 'filled-in hide' %>
                    <span class="lever"></span>
                    <i class="green-text material-icons center-icon">add_circle</i>
                  </label>
                </div>
                <%= label_tag role, nil, class: "active" %>
              </div>
            <% end %>
          </div>
        </fieldset>

      </div>

      <%#= check_box_tag "cliente[marketing_tipos][]", marketing_tipo, @cliente.marketing_tipos.include?(marketing_tipo), id: "cliente_marketing_tipos_#{marketing_tipo}", class: 'filled-in' %>
      <%#= label_tag "cliente_marketing_tipos_#{marketing_tipo}", marketing_tipo.humanize %>

      <%#= f.label :marketing_tipos, "Tipos de Marketing", class: "active p-t-25" %>
      <%#= check_box_tag "cliente[marketing_tipos][]", "", true, id: "cliente_marketing_tipos_#{""}", class: 'filled-in hide' %>

      <div class="modal-footer">
        <%= button_tag "Salvar", class:"btn waves-effect waves-light" %>
        <%= button_tag "Cancelar", class:"btn-flat waves-effect m-r-5", onclick: "$('#user_modal').closeModal()", type: 'button' %>

        <% if !@user.new_record? %>
          <%= link_to "Excluir", user_path(@user), method: 'delete', remote: true, class: 'btn danger-color waves-effect waves-light m-r-5',
                data: { confirm: t('.confirm', :default => t("helpers.links.confirm", default: 'Confirmar a exclusão?')) } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
